
*.log
*.tlog
*.pdb
*.idb
*.obj
*.sln
*.exe
lab_1/.vs/lab_1/v15/.suo
*.db
*.ipch
*.vcxproj
*.user
*.ilk
*.filters
*.lastcodeanalysissucceeded
*.xml
*.iobj
*.ipdb
lab_1/.vs/lab_1/v15/Browse.VC.opendb
*.enc
lab_2/.vs/lab_2/v15/.suo
*.opendb
